html{
    font-size:100%;
    box-sizing: border-box;

}

*, *::before, *::after{
    box-sizing: inherit;
}

body {
    margin:0;
    padding:0;
    font-family: 'Public San', sans-serif;
    font-size: $font-med;
    line-height: 1.3;
    color: $grayishBlue;
    
}

a,a:visited, a:hover {
    text-decoration: none;
    
}



///display

.flex {
    display:flex;

    &-jc-sb {
        justify-content: space-between;
    }

    &-jc-c {
        justify-content: center;
    }

    &-ai-c {
        align-items: center;
    }
    
}

//buttons
button, .button {
    padding: 0.875rem 2.1875rem;
    border-radius: 50px;
    border-style: none;
    cursor: pointer;
    margin-left: 50px;
    background: linear-gradient(to right,$limeGreen, $brightCyan);
    color:$white;
}

/// visibility 
.hide-for-mobile{
///hide for desktop
@include breakpoint-down(medium){
    display: none;
}
}

.hide-for-desktop{
    ///hide for desktop viewpoint widths
    @include breakpoint-up(large){
        display: none;
    }
}