.header{

    ///Hamburger open styles
    &.open{
        .overlay{
            display: block;
        }
        

         .header__menu{
            > span:first-child{
                transform: rotate(45deg);
            }

            > span:nth-child(2){
                opacity: 0;
            }

            > span:last-child{
                transform: rotate(-45deg);
            }

        }

    }

    .overlay{
        position: absolute;
        top: 60px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        background-image: linear-gradient($darkBlue, transparent);
    }

 
   height: 5rems;
    nav{
        padding: 1.0625rem 1.5rem;
    }


    &__logo{

        img{
            /// rem equals px / 16
            width: 8.8125rem;
            height: 1.375rem;

        }
    }

    &__menu { ///mobile menu
        margin-right:100px;
        margin-left:100px;

        > span {
            display: block;
            width: 26px;
            height: 2px;
            background-color: $darkBlue;
            transition: all 200ms ease-in-out;
            transform-origin: 3px 1px;
            

            &:not(:last-child){
                margin-bottom: 5px;
            }
        }



    }

    

    &__links{
        // border: 1px solid red;

        a{
            font-size: $font-med;  
            color: $grayishBlue;
            transition: color 200ms ease-in-out;
            position: relative;

            &:not(:last-child){
                margin-right: 30px;
            }


        &::before{
            content: "";
            position: absolute;
            display: block;
            height: 5px;
            left: 0;
            right: 0;
            bottom: -45px;
            opacity: 0;
            transition: opacity 200ms ease-in-out;
        }
        

        &:hover{
            color: $darkBlue;
            &::before{
                background: linear-gradient(to right,$limeGreen, $brightCyan);
                opacity: 1;
            }
         }

        }

    }
    
    &__cta {
       font-weight: $font-med; 
       color: $white;
       transition: opacity 200ms ease-in-out;

       &:hover{
           opacity: 0.5;
       }
        }

      


    }
